<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nyahonk.odfreader">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OdfReader"
        android:name=".App"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:label">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity-alias
            android:name=".MainActivity.STRICT_CATCH"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/vnd.oasis.opendocument.text-template" />

                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template" />

                <data android:mimeType="application/vnd.oasis.opendocument.presentation" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation-template" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt" />

                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods" />

                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp" />

                <data android:pathPattern=".*\\.odg" />
                <data android:pathPattern=".*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\.odg" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt" />

                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods" />

                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp" />

                <data android:pathPattern=".*\\.odg" />
                <data android:pathPattern=".*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\.odg" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.CATCH_ALL"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity"
            tools:ignore="AppLinkUrlError">
            <!-- necessary for Samsung "My Files" - https://stackoverflow.com/a/52624829/198996 -->
            <!-- Matches intents by file extension -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
            </intent-filter>
            <!-- Matches intents by file extension when an empty MIME type is set -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/vnd.oasis.opendocument.text-template" />

                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template" />

                <data android:mimeType="application/vnd.oasis.opendocument.presentation" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation-template" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt" />

                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods" />

                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp" />

                <data android:pathPattern=".*\\.odg" />
                <data android:pathPattern=".*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\.odg" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt" />

                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods" />

                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp" />

                <data android:pathPattern=".*\\.odg" />
                <data android:pathPattern=".*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\.odg" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="dialog_title_choose_file"
            android:theme="@style/NNF_BaseTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="application/vnd.oasis.opendocument.*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="application/vnd.oasis.opendocument.*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:enabled="true"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cache_provider_paths" />
        </provider>

    </application>

</manifest>